/* 
 ==========================================
  *  Author:        Anik Karmakar
  *  Github:        Anik-Dv
  *  Linkedin:      Anik Karmakar
 ==========================================
*/


body {
  /* background-image: url("/src/assets/moroccan-flower-dark.png"); */
  background-color: #08081a;
  color: aliceblue;
  margin: 0;
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4 {

	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	background: linear-gradient(to right, red , blue);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

    /* background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
